body {
    font-family: 'SF Pro Text', -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen-sans, ubuntu, cantarell, 'helvetica neue', 'arial', sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol';
    background: #2e3440;
    color: #e2e2e2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'SF Pro Display', 'open sans', -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen-sans, ubuntu, cantarell, 'helvetica neue', 'arial', sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol';
}

.fixedHeaderContainer header img {
    height: 60%;
}

.fixedHeaderContainer header .headerTitleWithLogo {
    display: none;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
    color: #e2e2e2;
}

.toc .toggleNav ul li a {
    color: #e2e2e2;
}

.fixedHeaderContainer {
    background: #3b4252;
    border-bottom: 1px solid #2e3440;
}

.navigationSlider .slidingNav ul li > a:focus,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
    background-color: #3b4252;
}

.docsNavContainer, .docsNavContainer .toc .navBreadcrumb {
    color: #e2e2e2;
}

.navBreadcrumb a, .navBreadcrumb span {
    color: #e2e2e2;
}

.line1, .line2, .line3 {
    background-color: #e2e2e2;
}

.onPageNav a {
    color: #e2e2e2;
}

.tocActive .onPageNav {
    background: #3b4252;
}

.nav-footer {
    background: #222833;
}

.button {
    background: #434c5e;
    cursor: pointer;
    border: transparent;
    color: #fefefe;
}

.button {
    font-weight: 500;
    box-sizing: border-box;
}

.button:hover {
    background: #4f66d5;
    border-color: #4f66d5;
    transition: background 0.3s, color 0.3s, border-color 0.3s;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 500;
}

h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size: 2.4em;
    line-height: 1.2;
}

h2 {
    font-size: 1.8em;
    line-height: 1.2;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2;
}

h4 {
    font-size: 1.2em;
    line-height: 1.2;
}

h5 {
    font-size: 1.1em;
    line-height: 1.2;
}

h6 {
    font-size: 1.0em;
    line-height: 1.2;
}

code, pre {
    font-family: 'SF Mono', 'source code pro', consolas, 'courier new', courier, monospace;
}

.docsContainer {
    padding-bottom: 200px;
}

p.note-important {
    display: block;
    border-left: 8px solid #9d5945;
    background: #d08770;
    padding: 15px 30px 15px 15px;
    color: #111;
}

p.note-important > strong:first-child {
    display: block;
    color: #111;
    margin-bottom: .28571rem;
}

p.note-important a {
    color: #111;
    text-decoration: underline;
}

blockquote {
    border-left-color: #7d5a77;
    background: #b48ead;
    color: #111 !important;
}

article > div > span > h2:first-child {
    margin-top: 0.5em;
}

.copyright-mini {
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 0.7rem;
}

.homeContainer {
    min-height: 100vh;
    background: url("/img/home-background.svg") no-repeat bottom center;
    background-size: cover;
}

.homeContainer .homeWrapper {
    padding-top: 10%;
}

.homeContainer a.cta {
    min-width: 310px;
    background: #4f66d5;
    border-color: #4f66d5;
    font-weight: 600;
}

.homeContainer a.button.cta.express {
    min-width: 310px;
    background: rgba(18, 20, 25, 0.3);
    border: 1px solid #abb6eb;
    color: #abb6eb;
    font-weight: 600;
}

table tr:nth-child(2n) {
    background-color: #3b4252;
}

table thead tr {
    background-color: #4c566a;
}

table th, table td {
    border-color: #434c5e;
}

hr {
    border: none;
    background: #2e3440;
    height: 1px;
}

div.contact {
    padding-bottom: 7em;
}

div.contact form label {
    display: block;
    margin-bottom: 5px;
}

div.contact form label input,
div.contact form label textarea {
    margin-top: 5px;
}

div.contact form label input {
    display: block;
    background: #2e3440;
    border: 1px solid #767676;
    color: #e2e2e2;
    outline-color: #5f7aff;
    font-size: 1em;
    padding: .714em 1.428em;
    border-radius: 2px;
}

div.contact form label textarea {
    width: 100%;
    max-width: 427px;
    display: block;
    background: #2e3440;
    border: 1px solid #767676;
    color: #e2e2e2;
    outline-color: #5f7aff;
    font-size: 1em;
    padding: .714em;
    min-height: 10em;
    border-radius: 2px;
    overflow: auto;
}

div.contact-success .ok {
    border: 1px solid #265330;
    background: #517d5b;
    color: #fff;
    padding: .57143rem 1.14286rem;
    width: 100%;
    position: relative;
    min-height: 1em;
    border-radius: 2px;
    margin-bottom: 2em;
}

div.contact form div.submit {
    margin-top: 20px;
}

.updates-subscribe-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 56, 56, 0.9);
    z-index: 9999999;
    align-items: center;
    justify-content: center;
}

.updates-subscribe-container {
    flex: 1;
    padding: 2em;
    max-width: 100%;
    background: #2e3440;
    border: 1px solid #444;
    border-radius: 3px;
    flex-direction: column;
}

.updates-subscribe-container .intro {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.updates-subscribe-container .logo {
    display: none;
    height: 1.8em;
    width: 1.8em;
    margin-right: 10px;
}

.updates-subscribe-container .capture {
    margin: 0;
    padding: 0;
    font-weight: 300;
    flex: 1;
}

.updates-subscribe-container .about {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.updates-subscribe-container form input {
    display: block;
    background: #2e3440;
    border: 1px solid #767676;
    color: #e2e2e2;
    outline-color: #5f7aff;
    font-size: 1em;
    padding: .714em 1.428em;
    border-radius: 2px;
    margin-bottom: 20px;
    width: auto;
    max-width: 100%;
}

.updates-subscribe-container form button {
    display: inline-block;
}

.updates-subscribe-container form button.submit {
    border-color: #4f66d5;
    background: #4f66d5;
    margin-right: 20px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 600px) {
    .updates-subscribe-container .logo {
        display: block;
    }

    .updates-subscribe-container {
        max-width: 600px;
    }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
    .docsContainer .wrapper .post .postHeader::before,
    .docsContainer .wrapper .post .postHeaderTitle::before {
        height: 210px;
        margin-top: -200px;
    }

    .docsNavContainer, .docsNavContainer .toc .navBreadcrumb {
        border-bottom: 0;
        background: #434c5e;
    }

    .navigationSlider .slidingNav ul {
        background: #2e3440;
    }
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
