{{ define "main" }}
<div>
  <div class="homeContainer">
    <div class="wrapper homeWrapper">
      <h2 class="projectTitle">Clarity<small>Agile Work Management Framework</small></h2>
      <div class="section promoSection">
        <div class="promoRow">
          <div class="pluginRowBlock">
            <div class="pluginWrapper buttonWrapper">
              <a class="button cta" href="/docs/about">Discover Clarity for organizations</a>
            </div>
          </div>
        </div>
      </div>
      <div class="section promoSection">
        <div class="promoRow">
          <div class="pluginRowBlock">
            <div class="pluginWrapper buttonWrapper">
              <a class="button cta express" href="/docs/express">Discover Clarity Express</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
